.container
  .row
    .col-xs-12
      .input-group
        %input.form-control{ :type => "text", :placeholder => "Find your roommate" }
        %span.input-group-btn
          %button.btn.btn-default{ :type => "button" } Go

  .row
    .col-xs-12
      %h3 You're being set up by...

  .row
    .col-xs-12
      %h3 You're setting up...

  .row
    .col-xs-12
      %h3 Unconfirmed setups...
