<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary pull-right" href="/search">
      Try Again
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Search results here
    <% for result in  @studentsResults %>
       <%= result.student_name %>
    <% end %>
  </div>
</div>
