<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary pull-right" href="/search">
      Try Again
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @studentsResults.each do |result| %>
        <%= render :partial => "student", :locals => {:result => result} %>
    <% end %>
  </div>
</div>
