.row
  .col-md-6
    %h1 Search Results
  .col-md-6
    %a.btn.btn-primary.pull-right{ :href => "/search" } Try Again

- if @studentsResults.empty?
  .row
    .col-md-12
      There are no dates currently available who match your parameters
- else
  - @studentsResults.each do |result|
    = render :partial => "student", :locals => { :result => result}

.row
  .col-xs-6
    - if @previousPage
      %a.btn.btn-primary{ :type => "button", :href => @previousPage} previous
  .col-xs-6.text-right
    - if @nextPage
      %a.btn.btn-primary{ :type => "button", :href => @nextPage} next
