<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary pull-right" href="/search">
      Try Again
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @studentsResults.length != 0 %>
      <% @studentsResults.each do |result| %>
          <%= render :partial => "student", :locals => {:result => result} %>
      <% end %>
    <% else %>
      There are no dates currently available who match your parameters.
    <% end %>
  </div>
</div>
