<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScrewDate Search</title>
</head>

<body>
  <%= render "shared/nav" %>
  <div class="container">
  <% if @studentsResults == nil %>
    <%= render "form" %>
  <% else %>
    <%= render "results" %>
  <% end %>
  </div>



</body>

</html>
