<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScrewDate</title>
</head>

<body>
  <%= render "shared/nav" %>
  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h1>Search for your ScrewDate</h1>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <ul>
        <form method="link" action="#">
          <li>
          <p>Name</p>
          <input type="text" class="form-control" name="name" />
          </li>
          <li>
            <p>Year</p>
            <select class="form-control" name="year">
              <option>All</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>
          </li>
          <li>
            <p>Dorm</p>
            <select class="form-control">
              <option>All</option>
              <option>Goodhue</option>
              <option>Davis</option>
              <option>Nourse</option>
              <option>(to be continued)</option>
            </select>
          </li>
          <li>
            <p>Floor</p>
            <!-- we should make this change based off of the dorm selection because duh -->
            <select class="form-control">
              <option>All</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </li>
          <li>
            <p>Major</p>
            <select class="form-control">
              <option>All</option>
              <option>Computer Science</option>
              <option>Math</option>
              <option>Chemistry</option>
              <option>Chinese</option>
            </select>
          </li>
          <li>
            <p>
              <button type="submit" class="btn btn-default" id="dateSearch">Find a date!</button>
            </p>
          </li>
        </form>
      </ul>
    </div>
  </div>


</body>

</html>
