<!doctype html>
<html lang="en"> 
<head>
	<meta charset="utf-8">

	<title>ScrewDate</title>
	<meta name="ScrewDate" content="Set up your roommate!">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="../css/indexstyle.css">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div id="nav">
		<header>
			<h1 id="title">ScrewDate</h1>
			<nav>
				<ul>
					<li><a href="#">Find your Roommate</a></li>
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main">
			<div class="jumbotron">
				  <h1>Hey there!</h1>
				  <p>I imagine you're here to find your roommate a ScrewDate. If so...</p>
				  <p><a class="btn btn-primary btn-lg" role="button">Search for a ScrewDate</a></p>
			</div>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer>
			<h3>footer</h3>
		</footer>
	</div>

</body>
</html>
