<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>ScrewDate</title>
		<meta name="ScrewDate" content="Set up your roommate!">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ScrewDate</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#">Find Your Roommate</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Login</a></li>
						<li><a href="#">Sign Up</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="jumbotron">
			<div class = "container">
				<h1>Hey there!</h1>
				<p>I imagine you're here to find your roommate a ScrewDate. If so...</p>
				<p><%= link_to 'Search for a ScrewDate', 'search#search', class: "btn btn-primary btn-lg" %></p>
			</div>
		</div>

		<div class = "container">
			<div class = "row">
				<h2>About</h2>
			</div>
		</div>

		<div id="footer-container">
			<footer>
				<h3>footer</h3>
			</footer>
		</div>

	</body>
</html>
